@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
 
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$white: #fff;
$crimson: #ff1440;

html {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

body {
  font-family: "Titillium", sans-serif;
  line-height: 1.5;
  color: $white;
  background: -webkit-linear-gradient(60deg, #7a3ec0, #70a6e1);
  background: -o-linear-gradient(60deg, #7a3ec0, #70a6e1);
  background: linear-gradient(60deg, #7a3ec0, #70a6e1);
  background-repeat: no-repeat;
  background-size: cover;
  // Impede que a scoreboard cause a barra de rolagem horizontal.
  overflow: hidden;
}

// Container

#vue-app {
  position: relative;
  top: 10vh;
}

p {
  font-size: 1.4rem;
  text-align: center;
}

button {
  background: $crimson;
  color: $white;
  padding: 10px 25px;

  margin-right: 10px;

  -webkit-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  
  cursor: pointer;
  outline: none;

  &:last-child {margin-right: 0;}

  &:hover {background: lighten($crimson, 3%);}

  &:active {background: darken($crimson, 10%);}
}

#score {
  font-family: "Titillium", sans-serif;
  background: $crimson;
  border-radius: 50%;
  padding: 20px;
  -webkit-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);

  position: absolute;
  left: 35%;

  h2 {font-size: 1.5rem;}

  p {font-weight: bold;}

}

#bag {
  width: 200px;
  height: 400px;

  background: url(../img/bag.png) center no-repeat;
  background-size: 80%;
  
  margin: auto;
  margin-bottom: 3vh;

  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#bag.burst {
  background: url(../img/bag-burst.png) center no-repeat;
  background-size: 80%;
}

#bag-health {
  width: 200px;
  margin: 0 auto 20px;

  h2 {
    text-align: center;
    margin-bottom: 5px;
  }

  div {
    height: 25px;
    background: $crimson;
    -webkit-transition: ease-in-out 0.1s;
    -o-transition: ease-in-out 0.1s;
    transition: ease-in-out 0.1s;
  }
}

#controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.leaderboard {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  text-align: center;

  background: $white;
  color: #000;
  padding: 1.2rem;

  position: absolute;
  top: 15vh;
  right: -275px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  button {
    font-weight: bold;

    padding: 20px;
    border-radius: 50%;

    position: absolute;
    left: -40px;
  }

  p {font-size: 1.8rem;}

  h2 {margin-bottom: 10px;}

  li {
    flex-basis: 1;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 10px;
  }
}

.show {
  animation-name: show;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; /* faz com que a animação se mantenha no último frame.*/
  animation-duration: 0.7s;
  animation-direction: alternate;
}

.hide {
  animation-name: hide;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
}

.rotate {
  animation-name: rotate;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    right: -275px;
  }
  100% {
    right: 0px;
  }
}

@keyframes hide {
  0% {
    right: 0px;
  }
  100% {
    right: -275px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

// #bag.hinge

.hinge {
  -webkit-animation-name: hinge;
  animation-name: hinge;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes hinge {
  0%,
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  25% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}

@keyframes hinge {
  0%,
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  25% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }

  75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}