@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
/* line 3, ../sass/styles.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/styles.scss */
html {
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

/* line 21, ../sass/styles.scss */
body {
  font-family: "Titillium", sans-serif;
  line-height: 1.5;
  color: #fff;
  background: -webkit-linear-gradient(60deg, #7a3ec0, #70a6e1);
  background: -o-linear-gradient(60deg, #7a3ec0, #70a6e1);
  background: linear-gradient(60deg, #7a3ec0, #70a6e1);
  background-repeat: no-repeat;
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
  overflow: hidden;
}

/* line 40, ../sass/styles.scss */
#vue-app {
  position: relative;
  top: 10vh;
}

/* line 45, ../sass/styles.scss */
p {
  font-size: 1.4rem;
  text-align: center;
}

/* line 50, ../sass/styles.scss */
button {
  background: #ff1440;
  color: #fff;
  padding: 10px 25px;
  margin-right: 10px;
  -webkit-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  outline: none;
}
/* line 63, ../sass/styles.scss */
button:last-child {
  margin-right: 0;
}
/* line 65, ../sass/styles.scss */
button:hover {
  background: #ff234c;
}
/* line 67, ../sass/styles.scss */
button:active {
  background: #e0002a;
}

/* line 70, ../sass/styles.scss */
#score {
  font-family: "Titillium", sans-serif;
  background: #ff1440;
  border-radius: 50%;
  padding: 20px;
  -webkit-box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 7px 12px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 35%;
  transition: ease-in-out 0.4s;
}
@media (max-width: 900px) {
  /* line 70, ../sass/styles.scss */
  #score {
    left: 15%;
  }
}
@media (min-width: 400px) and (max-width: 499px) {
  /* line 70, ../sass/styles.scss */
  #score {
    left: 40px;
  }
}
@media (min-width: 350px) and (max-width: 399px) {
  /* line 70, ../sass/styles.scss */
  #score {
    left: 20px;
  }
}
/* line 94, ../sass/styles.scss */
#score h2 {
  font-size: 1.5rem;
}
/* line 96, ../sass/styles.scss */
#score p {
  font-weight: bold;
}

/* line 100, ../sass/styles.scss */
#bag {
  width: 200px;
  height: 400px;
  background: url(../img/bag.png) center no-repeat;
  background-size: 80%;
  margin: auto;
  margin-bottom: 3vh;
  -webkit-transform-origin: top;
  -ms-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* line 117, ../sass/styles.scss */
#bag.burst {
  background: url(../img/bag-burst.png) center no-repeat;
  background-size: 80%;
}

/* line 122, ../sass/styles.scss */
#bag-health {
  width: 200px;
  margin: 0 auto 20px;
}
/* line 126, ../sass/styles.scss */
#bag-health h2 {
  text-align: center;
  margin-bottom: 5px;
}
/* line 131, ../sass/styles.scss */
#bag-health div {
  height: 25px;
  background: #ff1440;
  -webkit-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}

/* line 140, ../sass/styles.scss */
#controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* line 152, ../sass/styles.scss */
.leaderboard {
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
  text-align: center;
  background: #fff;
  color: #000;
  padding: 1.2rem;
  border-radius: 4px;
  position: absolute;
  top: 15vh;
  right: -275px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* line 170, ../sass/styles.scss */
.leaderboard button {
  font-weight: bold;
  padding: 20px;
  border-radius: 50%;
  position: absolute;
  left: -40px;
}
/* line 180, ../sass/styles.scss */
.leaderboard p {
  font-size: 1.8rem;
}
/* line 182, ../sass/styles.scss */
.leaderboard h2 {
  margin-bottom: 10px;
}
/* line 184, ../sass/styles.scss */
.leaderboard li {
  flex-basis: 1;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px;
}

/* line 192, ../sass/styles.scss */
.show {
  animation-name: show;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  /* faz com que a anima├º├úo se mantenha no ├║ltimo frame.*/
  animation-duration: 0.7s;
  animation-direction: alternate;
}

/* line 200, ../sass/styles.scss */
.hide {
  animation-name: hide;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
}

@keyframes show {
  0% {
    right: -275px;
  }
  100% {
    right: 0px;
  }
}
@keyframes hide {
  0% {
    right: 0px;
  }
  100% {
    right: -275px;
  }
}
/* line 227, ../sass/styles.scss */
.hinge {
  -webkit-animation-name: hinge;
  animation-name: hinge;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes hinge {
  0%,
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  25% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}
@keyframes hinge {
  0%,
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  25% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  50% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
  75% {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
  }
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
